.item {
  display: flex;
  margin: 0 auto;
  width: 500px;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(175, 175, 175, 0.59);
  box-shadow: 5px 5px 5px 5px rgba(175, 175, 175, 0.59);
  border-radius: 5px;
  border: 1px solid rgb(167, 166, 166);
  cursor: pointer;
  padding: 10px 0;
  transition: 0.2s ease-out;
  margin-bottom: 1em;
  position: relative;

  &:hover {
    background-color: rgb(1, 151, 64);
    color: whitesmoke;
  }

  .iconTV {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .icon {
      font-size: 40px;
    }
  }
  .itemDetails {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: 2em;

    .listTitle {
      font-size: 24px;
      font-weight: 600;
    }

    .date {
      font-size: 18px;
      font-style: italic;
    }
    .userAndLike {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .playlistID {
        font-weight: 600;
        font-size: 18px;
      }
      .likeIcon {
        color: #3bbbe2;
      }
    }
  }

  .linkIcon {
    margin-left: auto;
    margin-right: 1em;
    margin-top: 0.1em;
    font-size: 30px;
  }
  .close {
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 999;

    .delIcon {
      font-size: 21px;
      color: crimson;
    }
  }
}
@media only screen and (max-width: 768px) {
  .item {
    width: 90%;
    .iconTV {
      padding: 5px;
      .icon {
        font-size: 30px;
      }
    }
    .itemDetails {
      gap: 0.3em;
      width: 70%;
      .listTitle {
        font-size: 20px;
      }
      .date {
        font-size: 15px;
      }
      .playlistID {
        font-size: 15px;
      }
    }
    .linkIcon {
      font-size: 20px;
      position: relative;
      right: 30px;
    }
  }
}
