.modalContainerUpload {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: 10%;
  background-color: white;
  .uploadTitle {
    position: absolute;
    top: 10%;
    color: #6ac045;
  }
  .uploadForm {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    .uploadWrapper {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 70%;
      justify-content: space-between;
      position: relative;
      .iconUpload {
        position: absolute;
        top: 32%;
        left: 1%;
        color: lightgray;
      }
      .name {
        top: 5%;
        left: 1%;
      }
      .cat {
        top: 60%;
      }
      .inputUpload {
        padding: 15px 30px;
        border-radius: 2px;
        border: 1px solid lightgray;

        &:focus {
          outline: 1px solid #6ac045;
        }

        &::placeholder {
          padding-left: 1.2em;
          font-size: 15px;
        }
      }
      .uploadBtn {
        padding: 10px 20px;
        background-color: #6ac045;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #5aa53b;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .modalContainerUpload {
    width: 85%;
    .uploadForm {
      .uploadWrapper {
        .inputUpload {
          &::placeholder {
            font-size: 12px;
          }
        }
        .uploadBtn {
          font-size: 15px;
        }
      }
    }
  }
}
